main {
  padding: 10px;
  max-width: 960px;
  width: 100%;
  margin: 100px auto 500px;
  text-align: center
}

div.numbers {
  margin-top: 3em;
  margin-bottom: 3em;
}

section.footer {
  font-size: 0.75em;
  color: #666;
  padding-top: 20px;
  margin-top: 80px;
  border-top: solid 1px #ccc;
}

blockquote {
  max-width: 800px;
  margin: auto;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 2em;
}